<nav class="bd-navbar navbar has-shadow is-spaced" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="/">CherryERC</a>

    <a role="button" class="navbar-burger" data-target="navMenu" aria-label="menu" aria-expanded="false">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="navMenu" class="navbar-menu">
    <div class="navbar-start">
      <a class="navbar-item bd-navbar-item-" {{ if eq .Section "" }} style="background-color: rgb(245, 245, 255);" {{ else }} href="/" {{ end }}>
        <span class="icon has-text-info">
          <i class="fas fa-door-open"></i>
        </span>
        <span>ホーム</span>
      </a>
      <a class="navbar-item bd-navbar-item-" {{ if eq .Section "experience" }} style="background-color: rgb(245, 245, 255);" {{ else }} href="/experience" {{ end }}>
        <span class="icon has-text-warning">
          <i class="fas fa-chalkboard-teacher"></i>
        </span>
        <span>体験レッスン</span>
      </a>
      <a class="navbar-item bd-navbar-item-" {{ if eq .Section "products" }} style="background-color: rgb(245, 245, 255);" {{ else }} href="/products" {{ end }}>
        <span class="icon has-text-success">
          <i class="fas fa-school"></i>
        </span>
        <span>教室紹介</span>
      </a>
      <a class="navbar-item bd-navbar-item-" {{ if eq .Section "events" }} style="background-color: rgb(245, 245, 255);" {{ else }} href="/events" {{ end }}>
        <span class="icon has-text-danger">
          <i class="fas fa-calendar-alt"></i>
        </span>
        <span>イベント</span>
      </a>
      <a class="navbar-item bd-navbar-item-" {{ if eq .Section "blog" }} style="background-color: rgb(245, 245, 255);" {{ else }} href="/blog" {{ end }}>
        <span class="icon has-text-link">
          <i class="fas fa-pen"></i>
        </span>
        <span>ブログ</span>
      </a>
      <a class="navbar-item bd-navbar-item-" {{ if eq .Section "contact" }} style="background-color: rgb(245, 245, 255);" {{ else }} href="/contact" {{ end }}>
        <span class="icon has-text-primary">
          <i class="fas fa-paper-plane"></i>
        </span>
        <span>お問い合わせ</span>
      </a>
      <a class="navbar-item bd-navbar-item-" href="#">
        <span class="icon" style="color: orange;">
          <i class="fas fa-utensils"></i>
        </span>
        <span>Airkitchen</span>
      </a>
    </div>
  </div>
</nav>