<section class="hero is-info {{ if .IsHome }} is-fullheight {{ else }} is-medium {{ end }}">
  <div class="hero-head">
    {{- partial "nav" . -}}
  </div>

  <div class="hero-body">
    <div class="container has-text-centered">
      {{ if .IsHome }}
      <p class="title">
        CherryERC
      </p>
      <p class="subtitle">
        Extensive Reading in English Class
      </p>
      {{ else }}
      <p class="title">
        {{ .Title}}
      </p>
      {{ end }}
    </div>
  </div>

  {{ if .IsHome }}

  <div class="hero-foot">
    <nav class="tabs is-boxed is-fullwidth">
      <div class="container">
        <ul>
          <li class="is-active">
            <a>Overview</a>
          </li>
          <li>
            <a>Modifiers</a>
          </li>
          <li>
            <a>Grid</a>
          </li>
          <li>
            <a>Elements</a>
          </li>
          <li>
            <a>Components</a>
          </li>
          <li>
            <a>Layout</a>
          </li>
        </ul>
      </div>
    </nav>
  </div>

  {{ end }}
</section>