<nav class="bd-navbar navbar is-fixed-top has-shadow is-spaced" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">

    <a class="navbar-item is-paddingless is-hidden-touch logo" href="/">
      <img src="/img/logo.png" data-aos="zoom-in" data-aos-once="true" class="logo" alt="logo">
    </a>

    <a class="navbar-item is-paddingless is-hidden-desktop logo" href="/">
      <img src="/img/logo.png" data-aos="zoom-in-down" data-aos-once="true" class="logo" alt="logo">
    </a>

    <a role="button" class="navbar-burger" data-aos="zoom-in" data-aos-once="true" data-target="navMenu" aria-label="menu" aria-expanded="false">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="navMenu" class="navbar-menu">

    <div class="navbar-start">

      {{ if .IsHome }}
      <a class="navbar-item" data-aos="zoom-out" data-aos-once="true">
        <span class="icon has-text-info">
          <i class="fas fa-door-open faa-pulse faa-fast animated"></i>
      {{ else }}
      <a class="navbar-item faa-parent animated-hover" href="/">
        <span class="icon has-text-info faa-ring" data-aos="zoom-out" data-aos-once="true">
          <i class="fas fa-door-open"></i>
      {{ end }}
        </span>
        <span>ホーム</span>
      </a>

      {{ if eq .Section "experience" }} 
      <a class="navbar-item" data-aos="zoom-out" data-aos-once="true">
        <span class="icon has-text-warning">
          <i class="fas fa-chalkboard-teacher faa-pulse faa-fast animated"></i>
      {{ else }}
      <a class="navbar-item faa-parent animated-hover" href="/experience">
        <span class="icon has-text-warning faa-passing faa-fast" data-aos="zoom-out" data-aos-once="true">
          <i class="fas fa-chalkboard-teacher"></i>
      {{ end }}
        </span>
        <span>体験レッスン</span> 
      </a>

      {{ if eq .Section "products" }}
      <a class="navbar-item" data-aos="zoom-out" data-aos-once="true">
        <span class="icon has-text-success">
          <i class="fas fa-school faa-pulse faa-fast animated"></i>
      {{ else }}
      <a class="navbar-item faa-parent animated-hover" href="/products">
        <span class="icon has-text-success faa-flash faa-fast" data-aos="zoom-out" data-aos-once="true">
          <i class="fas fa-school"></i>
      {{ end }}
        </span>
        <span>教室紹介</span>
      </a>

      {{ if eq .Section "events" }}
      <a class="navbar-item" data-aos="zoom-out" data-aos-once="true">
        <span class="icon has-text-danger">
          <i class="fas fa-calendar-alt faa-pulse faa-fast animated"></i>
      {{ else }}
      <a class="navbar-item faa-parent animated-hover" href="/events">
        <span class="icon has-text-danger faa-tada faa-fast" data-aos="zoom-out" data-aos-once="true">
          <i class="fas fa-calendar-alt"></i>
      {{ end }}
        </span>
        <span>イベント</span>
      </a>

      {{ if eq .Section "blog" }}
      <a class="navbar-item" data-aos="zoom-out" data-aos-once="true">
        <span class="icon has-text-link">
          <i class="fas fa-pen faa-pulse faa-fast animated"></i>
      {{ else }}
      <a class="navbar-item faa-parent animated-hover" href="/blog">
        <span class="icon has-text-link faa-horizontal" data-aos="zoom-out" data-aos-once="true">
          <i class="fas fa-pen"></i>
      {{ end }}
        </span>
        <span>ブログ</span>
      </a>

      {{ if eq .Section "contact" }}
      <a class="navbar-item" data-aos="zoom-out" data-aos-once="true">
        <span class="icon has-text-primary">
          <i class="fas fa-paper-plane faa-pulse faa-fast animated"></i>
      {{ else }}
      <a class="navbar-item faa-parent animated-hover" href="/contact">
        <span class="icon has-text-primary faa-vertical faa-slow" data-aos="zoom-out" data-aos-once="true">
          <i class="fas fa-paper-plane"></i>
      {{ end }}
        </span>
        <span>お問い合わせ</span>
      </a>

      {{ if eq .Section "airkitchen" }}
      <a class="navbar-item" data-aos="zoom-out" data-aos-once="true">
        <span class="icon" style="color: orange;">
          <i class="fas fa-utensils faa-pulse faa-fast animated"></i>
      {{ else }}
      <a class="navbar-item faa-parent animated-hover" href="/airkitchen">
        <span class="icon faa-shake" style="color: orange;" data-aos="zoom-out" data-aos-once="true">
          <i class="fas fa-utensils"></i>
      {{ end }}
        </span>
        <span>Airkitchen</span>
      </a>

    </div>
    
  </div>
</nav>