<style>

  /* ロゴ */
  .navbar-brand {
    position: relative;
  }
  .logo > img {
    max-height: 40px;
    height: 40px;
    width: 40px;
  }
  .logo.is-hidden-touch {
    margin-right: 1.5rem;
  }
  .logo.is-hidden-touch:hover img {
    transform: scale(1.05);
    transition-duration: 0.1s;
  }
  .logo.is-hidden-desktop {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .logo.is-hidden-desktop:hover img {
    transform: scale(1.05);
    transition-duration: 0.1s;
  }

  /* ナビゲーションバー */
  @media screen and (min-width: 1024px) {
    .navbar-item.animated-hover:hover {
      transform: scale(1.1);
      transition-duration: 0.3s;
    }
  }
  @media screen and (max-width: 1023px) {
    .navbar-menu {
      background-color: rgba(256, 256, 256, 0.5);
    }
  }

  /* ヒーロー */
  .hero {
    background-image: url({{ .Params.heroimg }});
    background-size: cover;
    background-position: center;
    position: relative;
    z-index: 0;
    overflow: hidden;
  }
  .hero::before {
    content: '';
    background: inherit;
    filter: blur(5px);
    position: absolute;
    top: -5px;
    left: -5px;
    right: -5px;
    bottom: -5px;
    z-index: -1;
    box-shadow: inset 0 0 50px rgba(0, 0, 0, 0.5), inset 0 0 100px rgba(0, 0, 0, 0.2);
  }
  .hero .title {
    text-shadow: 0 0 5px #ffffff;
  }

  @media screen and (min-width: 769px){
    .hero .title-home {
      font-family: 'Ubuntu', sans-serif;
      mix-blend-mode: color-burn;
      font-size: 120px;
    }
    .hero .subtitle-home {
      font-family: 'Ubuntu', sans-serif;
      mix-blend-mode: color-burn;
      font-size: 40px;
    }
  }
  @media screen and (max-width: 768px){
    .hero .title-home {
      font-family: 'Ubuntu', sans-serif;
      mix-blend-mode: color-burn;
      font-size: 50px;
    }
    .hero .subtitle-home {
      font-family: 'Ubuntu', sans-serif;
      mix-blend-mode: color-burn;
    }
  }

  {{ if .IsHome }}

    .navbar {
      background-color: rgba(256, 256, 256, 0);
    }
    @media screen and (min-width: 1024px) {
      .navbar-item {
        color: #ffffff;
      }
    }

  {{ else }}

    .hero-body {
      margin-top: 3.25rem;
    }
    .navbar {
      background-color: rgba(256, 256, 256, 0.7);
    }

  {{ end }}

  /* フッター固定 */
  html {
    min-height: 100vh;
    position: relative;
    padding-bottom: 3.5rem;
    box-sizing: border-box;
  }
  .footer {
    height: 3.5rem;
    width: 100%;
    padding: 1rem 0;
    position: absolute;
    bottom: 0;
    box-sizing: border-box;
  }

</style>