<!DOCTYPE html>
<html lang="ja" class="has-navbar-fixed-top">

<head>
  {{- partial "head" . -}}
  {{- partial "style" . -}}
  {{- block "addstyle" . }}{{- end }}
  {{- partial "script" . -}}
  {{ if .IsHome }}
  <script type="text/javascript" src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
  {{ end }}
</head>

<body>
  {{- partial "header" . -}}
  <div class="content">
    {{- block "main" . }}{{- end }}
  </div>
  {{- partial "footer" . -}}
  {{- partial "bottom" . -}}
</body>

</html>