<!DOCTYPE html>
<html lang="ja">

<head>
  {{- partial "head" . -}}
  {{- partial "style" . -}}
  {{- block "addstyle" . }}{{- end }}
  {{- partial "script" . -}}
  {{ if .IsHome }}
  <script type="text/javascript" src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
  {{ end }}
</head>

<body>

  <header class="header">
    {{- partial "hero" . -}}
  </header>

  <section class="section">
    {{- block "main" . }}

    <div class="container">
      {{ .Content }}
    </div>

    {{- end }}
  </section>

  <footer class="footer">
    {{- partial "footer" . -}}
  </footer>

  {{- partial "bottom" . -}}
</body>

</html>