<!DOCTYPE html>
<html lang="ja">

<head>
  {{- partial "head" . -}}
  {{- partial "style" . -}}
  {{- block "addstyle" . }}{{- end }}
  {{- partial "script" . -}}
  {{ if .IsHome }}
  <script type="text/javascript" src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
  {{ end }}
</head>

<body>
  <div class="wrapper">
    {{- partial "header" . -}}
    <div class="content">
      {{- block "main" . }}{{- end }}
    </div>
    {{- partial "footer" . -}}
  </div>
  {{- partial "bottom" . -}}
</body>

</html>