{{ define "main" }}

<div class="container">

  <div class="content">

      {{ range $i, $e:= (where .Pages "Section" "contact") }}

        {{ if (eq $i 0) }}
          <h1 class="title is-4 has-text-centered">よくあるご質問（FAQ）</h1>
        {{ end }}

      <div class="box column is-8 is-offset-2">
        <p class="title is-5"><span class="qanda">Q</span> {{ .Title }}</p>
        <p class="subtitle is-5"><span class="qanda">A</span> {{ .Params.Answer }}</p>
      </div>

      {{ end }}

  </div>

  <form name="contact" method="POST" action="/thankyou" data-netlify-recaptcha="true" data-netlify="true">

    <div id="box" class="box column is-8 is-offset-2">

      <h1 class="title is-4 has-text-centered">お問い合わせフォーム</h1>

      <div class="field">
        <label class="label">名前</label>
        <div class="control has-icons-left has-icons-right">
          <input name="name" class="input" type="text" placeholder="名前を入力してください" required />
          <span class="icon is-small is-left">
            <i class="fas fa-user"></i>
          </span>
        </div>
      </div>

      <div class="field">
        <label class="label">メールアドレス</label>
        <div class="control has-icons-left has-icons-right">
          <input name="email" class="input" type="email" placeholder="メールアドレスを入力してください" required />
          <span class="icon is-small is-left">
            <i class="fas fa-envelope"></i>
          </span>
        </div>
      </div>

      <div class="field">
        <label class="label">メッセージ</label>
        <div class="control">
          <textarea name="message" class="textarea" placeholder="お問い合わせ内容を入力してください" required></textarea>
        </div>
      </div>

      <div class="field">
        <div class="control">
          <div style="width: 304px;margin: auto;" data-netlify-recaptcha="true"></div>
        </div>
      </div>

      <div class="has-text-centered">
        <button class="button is-link is-outlined" type="submit">送信</button>
      </div>

    </div>

  </form>
  {{ .Content }}
</div>

{{ end }}

{{ define "addstyle" }}

<link href="https://fonts.googleapis.com/css?family=Share+Tech+Mono&display=swap&text=QA" rel="stylesheet">

<style>

  .qanda {
    font-family: 'Share Tech Mono', sans-serif;
  }

  @media screen and (max-width: 400px) {
    .section {
      padding-left: 0.5rem;
      padding-right: 0.5rem;
    }
  }

</style>

{{ end }}